<h1> Edit Your Wager  --> <%= @wager.bet %> for $<%= @wager.amount %></h1>
    
    <form action='/live_bets/<%= @wager.id %>' method="POST">
        <input type="hidden" name="_method" value="patch">
    <br>
    <div>
        <label for="bet">Wager</label>
        <input type="text" name="wager[bet]" id="bet" value="<%= @wager.bet %>">
    </div>
    <br>
    <div>
        <label for="amount">Dollar Amount</label>
        <input type="integer" name="wager[amount]" id="amount" value="<%= @wager.amount %>">
    </div>
    <br>
        <input type="submit" value="Update Wager">
    </form>

