<div class="container">
  <header><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNMYZEp6-zOD8fEYvSYkusYNZPl2w9kXbxMg376vNiepuVZ_Z&s"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Botto's Sportsbook</h2>

    <div class="content">
      <p>Welcome to Botto's Sportsbook!</p>
      <p>Our daily MLB schedule below is supported by <a href="https://SportsData.io" target="_blank">SportsData</a> and our preferred betting partners are DraftKings and Fanduel.</p>
    </div>

    <div class="sidebar">
      <p>Please login or create an account to place bets!</p>
      <p><a href="/login">Login</a></p>
      <p><a href="/signup">Create Account</a></p>
    </div>

  </div>

</div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container">
    <h3>Here is a look at the schedule for <%=Date.today.strftime("%b-%d-%Y")%>:</h3>

    <% @sportsdata.daily_baseball.each do |game| %>
    <div>
      <%# <li><%= game[:DateTime] %>
      <li><%= game[:awayteam] %> | <%= game[:AwayTeamMoneyLine] %> | Runs: <%= game[:AwayTeamRuns] %></li>
      vs.
      <li><%= game[:HomeTeam] %> | <%= game[:HomeTeamMoneyLine] %> | Runs: <%= game[:HomeTeamRuns] %></li>
      <p>Inning: <%= game[:Inning]%></p>
      <br>
      <br>
    </div>


    <% end %>
    <%# <%= game_one %>
  </div>


   <%# <% @wager.each do |wager| %>
            <%# <p><%= wager.bet for $<%= wager.amount %>
        <%# <% end %>